<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="assets/admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="assets/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="assets/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="assets/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="assets/admin/css/theme.css" rel="stylesheet" media="all">


</head>

<body class="animsition">
<div class="page-wrapper">
     HEADER MOBILE
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="/">
                        <img src="assets/admin/images/icon/logo.png" alt="CoolAdmin" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="has-sub">
                        <a class="js-arrow" href="/">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
     END HEADER MOBILE

     MENU SIDEBAR
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="/">
                <img src="assets/admin/images/icon/logo.png" alt="Cool Admin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" href="/dashboard">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu  float-right">

                            <div class="content"  th:if="${sess}">
                                <a class="js-acc-btn"  th:text="${sess[1]}"></a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="account-dropdown__footer">
                                    <a href="/logout">
                                        <i class="zmdi zmdi-power"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">All Items</h2>
                                <button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#mediumModal">
                                    <i class="zmdi zmdi-plus"></i>add item</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-4" th:each="product : ${listProducts}">
                            <div class="card">
<!--                                <img class="card-img-top" src="assets/admin/images/bg-title-01.jpg" alt="Card image cap">-->
                                <div class="card-body">
                                    <h4 class="card-title mb-3" th:text="${product.itemName}"></h4>
                                    <p class="card-text" th:text="${'Rs.' + product.itemPrice}"></p>
                                    <p class="card-text" th:text="${'Remainig: ' + product.itemQty}"></p>
                                    <a th:href="@{'/delete/' + ${product.itemId}}" class="btn btn-danger">Delete</a>
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Update
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <form th:action="@{/save}" th:object="${item}" method="post" class="p-1 m-1">
                                            <input type="hidden" th:name="itemId" th:value="${product.itemId}">
                                            <div class="form-group">
                                                <label for="itemName">Item Name</label>
                                                <input type="text" class="form-control" th:name="itemName" th:value="${product.itemName}" placeholder="Item Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="itemPrice">Item Price</label>
                                                <input type="number" class="form-control" th:name="itemPrice"  th:value="${product.itemPrice}" placeholder="Item Price" min="0">
                                            </div>
                                            <div class="form-group">
                                                <label for="itemQty">Item Quantity</label>
                                                <input type="number" class="form-control" th:name="itemQty"  th:value="${product.itemQty}" placeholder="Item Quantity" min="0">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-dark" type="reset">Reset</button>
                                                <button class="btn btn-primary" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Sales Overview</h2>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

</div>

<!-- Jquery JS-->
<script src="assets/admin/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="assets/admin/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="assets/admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="assets/admin/vendor/slick/slick.min.js">
</script>
<script src="assets/admin/vendor/wow/wow.min.js"></script>
<script src="assets/admin/vendor/animsition/animsition.min.js"></script>
<script src="assets/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="assets/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="assets/admin/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="assets/admin/vendor/circle-progress/circle-progress.min.js"></script>
<script src="assets/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="assets/admin/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="assets/admin/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="assets/admin/js/main.js"></script>

<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/save}" th:object="${item}" method="post">
                    <div class="form-group">
                        <label for="itemName">Item Name</label>
                        <input type="text" class="form-control" th:field="*{itemName}" id="itemName" placeholder="Item Name">
                    </div>
                    <div class="form-group">
                        <label for="itemPrice">Item Price</label>
                        <input type="number" class="form-control" th:field="*{itemPrice}"  id="itemPrice" placeholder="Item Price" min="0">
                    </div>
                    <div class="form-group">
                        <label for="itemQty">Item Quantity</label>
                        <input type="number" class="form-control" th:field="*{itemQty}"  id="itemQty" placeholder="Item Quantity" min="0">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark" type="reset">Reset</button>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>
<!-- end document-->
