<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Inner Page - Delicious Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{assets/img/favicon.png}" rel="icon">
    <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{assets/css/style.css}" rel="stylesheet">

</head>

<body>



<!-- ======= Header ======= -->
<header id="header" class=" d-flex align-items-center ">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="/"><span>Green Foods</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/">Menu</a></li>
                <li><a href="#">Contact</a></li>

                <li class="signin text-center"><a href="/signup">Sign up</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<main id="main">


    <!-- ======= Cart Section ======= -->
    <section id="menu" class="menu">
        <div class="container">

            <div class="section-title">
                <h2>My new<span> order</span></h2>
            </div>



            <script>

                function incqty(id){
                    //init current values
                    let price_of_1 = $("#"+id+" ._value_price_of_one").val();
                    let qty = parseInt($("#"+id+" .qty").val());
                    let min = parseInt($("#"+id+" ._value_min").val());
                    let max = parseInt($("#"+id+" ._value_max").val());
                    let new_qty = ++qty;

                    //check with available stock
                    if(new_qty<=max){
                        //calcuoate new total price
                        let tot_price = parseFloat(new_qty*price_of_1);

                        //display values
                        $("#"+id+" .qty").val(parseInt(new_qty));
                        $("#"+id+" .totalprice").html(tot_price.toFixed(2));
                        //set hidden fileds
                        $("#"+id+" ._value_total_price").val(tot_price.toFixed(2));
                        $("#"+id+" ._value_total_qty").val(parseInt(new_qty));
                    }

                }

                function decqty(id){
                    //init current values
                    let price_of_1 = $("#"+id+" ._value_price_of_one").val();
                    let qty = parseInt($("#"+id+" .qty").val());
                    let min = parseInt($("#"+id+" ._value_min").val());
                    let max = parseInt($("#"+id+" ._value_max").val());
                    let new_qty = --qty;

                    //check with available stock
                    if(new_qty>=min){
                        //calcuoate new total price
                        let tot_price = parseFloat(new_qty*price_of_1);


                        //display values
                        $("#"+id+" .qty").val(parseInt(new_qty));
                        $("#"+id+" .totalprice").html(tot_price.toFixed(2));
                        //set hidden fileds
                        $("#"+id+" ._value_total_price").val(tot_price.toFixed(2));
                        $("#"+id+" ._value_total_qty").val(parseInt(new_qty));
                    }
                }


                function paynow(id){
                    let item_name = $("#"+id+" ._value_item_name").val();
                    let total_qty = parseInt($("#"+id+" ._value_total_qty").val());
                    let total_amount = parseFloat($("#"+id+" ._value_total_price").val());
                    console.log(item_name,total_qty,total_amount,id);
                    window.location.href = "/payments?itemid="+id+"&itemname="+ item_name +"&qty="+total_qty+"&amount="+total_amount;
                }

            </script>



            <div class="row menu-container">

                <form method="post" th:object="${neworder}" th:action="@{/placeorder}">
                <div class="col-lg-6 menu-item filter-starters" th:id="${productdata.itemId}" >
                    <div class="menu-content">
                        <input type="hidden" th:value=${productdata.itemId} th:name="itemId">
                        <input type="hidden" th:value=${sess} th:name="userId">
                        <input type="hidden" th:value=1 th:name="status">

                        <input type="hidden" class="_value_item_name" th:value=${productdata.itemName}>
                        <input type="hidden" class="_value_price_of_one" th:value=${productdata.itemPrice} >
                        <input type="hidden" class="_value_total_price" th:value=${productdata.itemPrice} th:name="totalPrice">
                        <input type="hidden" class="_value_total_qty" value=1 th:name="itemQty">
                        <input type="hidden" class="_value_min" value=1>
                        <input type="hidden" class="_value_max" th:value=${productdata.itemQty}>

                        <a th:text="${productdata.itemName}"></a><span>LKR <span class="totalprice" th:text="${productdata.itemPrice}"></span></span>
                    </div>
                    <div class="menu-ingredients">
                        <label>Quantity </label><input class="qty" type="number" value=1 readonly>
                        <div th:onclick="'incqty(\'' + ${productdata.itemId} + '\');'" >+</div>
                        <div th:onclick="'decqty(\'' + ${productdata.itemId} + '\');'" >-</div>

                        <span>In Stock (<span th:text="${productdata.itemQty}"></span>)</span>
                    </div>

                    <input type="button" class="btn btn-success float-right d-inline-block mt-4 ml-3" value="Pay now" th:onclick="'paynow(\'' + ${productdata.itemId} + '\');'">
                    <input type="submit" class="btn btn-secondary float-right d-inline-block mt-4" value="Cash on Delivery">

                </div>



                </form>

            </div>


        </div>
    </section><!-- End Menu Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container mt-5">
        <h3>Green Foods</h3>
        <p> Health requires healthy foods.</p>
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>Green Foods</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="#">FOT Developer team</a>
        </div>
    </div>
</footer>
<!-- End Footer -->


<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<!--<script th:src="@{assets/vendor/php-email-form/validate.js}"></script>-->
<script th:src="@{assets/vendor/jquery-sticky/jquery.sticky.js}"></script>
<script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{assets/vendor/venobox/venobox.min.js}"></script>
<script th:src="@{assets/vendor/owl.carousel/owl.carousel.min.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{assets/js/main.js}"></script>

</body>

</html>